# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Hardhat files
cache/
artifacts/

# Coverage
coverage/
coverage.json

# Typechain
typechain/

# OSX
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock